@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600,700&display=swap");

body {
	overflow-x: hidden;
	background: #ebebeb url(/public/cool-background.png);
}

a {
	padding: 0.85rem;
	color: white;
	text-decoration: none;
	font-size: 0.95rem;
}

a.active {
	color: aqua;
}

#and div,
#and mark {
	font-size: 1.7rem;
}

.red {
	background: red;
}

h1 {
	font-family: "Rubik", sans-serif;
	margin: 2.3rem 0;
}

#rerender input {
	width: 360px;
	background: #fff;
	color: #a3a3a3;
	font-size: 2rem;
	color: #212529;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border: 1px solid aqua;
	outline: 0;
	padding: 8px 18px 15px;
	border-radius: 6px;
	animation-duration: 6s;
	animation-name: translate;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	background: #212529;
	color: white;
	padding: 1rem;
	font-size: 1rem;
	animation-duration: 5s;
	animation-name: changeColor;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes changeColor {
	from {
		color: aqua;
	}

	to {
		color: white;
	}
}

@keyframes translate {
	from {
		transform: translate(0px);
	}

	to {
		transform: translate(1000px);
	}
}

button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;
	font-weight: 600;
	color: #382b22;
	text-transform: uppercase;
	padding: 1.25em 2em;
	background: #fff0f0;
	border: 2px solid #b18597;
	border-radius: 0.75em;
	transform-style: preserve-3d;
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
		background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #f9c4d2;
	border-radius: inherit;
	box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
	transform: translate3d(0, 0.75em, -1em);
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
		box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button:hover {
	background: #ffe9e9;
	transform: translate(0, 0.25em);
}
button:hover::before {
	box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
	transform: translate3d(0, 0.5em, -1em);
}

button:active {
	background: #ffe9e9;
	transform: translate(0em, 0.75em);
}
button:active::before {
	box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
	transform: translate3d(0, 0, -1em);
}
